*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background-color: #6988FC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container{
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-sizing: 0 50px 30px ;
}

#container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

#container button{
    background-color: #6988FC;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

#container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
}

.form-container{
    display: flex;
    width: 100%;
}

.container button.hidden{
    background-color: transparent;
    border-bottom: #fff;
}

.container button{
    margin-top: 20px;
}


form{
    display: flex;
    flex-direction: column;
    margin-left: 90px;
    margin-top: 50px;
}

img{
    display: flex;
    flex-direction: row;
    justify-items: flex-end;
    margin-left: 200px;

}

.Profile{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-top: -5px;
}